/* Start Dashboard */
.dashboard {
    display: flex;
    align-items: flex-start;
    position: relative;
}
.dashboard .side-navbar {
    background-color: #f1f1f1;
    height: 100%;
    min-height: 100vh;
    flex: 0 0 20%;
    max-width: 240px;
    position: sticky;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out 0.1s;
}
.dashboard  .side-navbar .container{
    align-items: flex-start;
}
.dashboard  .content {
    margin-left: 200px;
    padding: 1px 16px 80px;
    height: 1000px;
  }
  .dashboard .side-navbar .navbar-brand {
    padding: 1.5rem 2rem;
    font-size: 14px;
    color: #344767;
    font-weight: 600;
    font-family: 'Open Sans';
}
.dashboard .side-navbar .navbar-brand img {
    height: 2rem;
    object-fit: contain;
    margin-right: 4px;
}
.dashboard .nav-link-text {
    display: flex;
    align-items: center;
}
.dashboard .navbar-nav .nav-link .icon {
    padding: 10px;
}
.dashboard .side-navbar ul.navbar-nav li.nav-item a {
    display: flex;
    margin: 0 16px 10px;
    padding: 10px 16px;
    font-size: 14px;
    font-family: 'Open Sans';
    color: var(--primary-color2);
}
.nav-item:hover .nav-link, 
.nav-item .nav-link.active {
    box-shadow: 0 0 10px rgba(0 0 0 / 15%);
    background: #fff;
    border-radius: 10px;
}
.dashboard .side-navbar div#collapsibleNavbar {
    padding: 0;
    width: 100%;
}
.dashboard .side-navbar div#collapsibleNavbar .navbar-nav {
    width: 100%;
}
.dashboard .side-navbar ul.navbar-nav li.nav-item a .icon.icon-shape svg path {
    fill: var(--primary-color);
}
.dashboard .side-navbar ul.navbar-nav li h6 {
    font-size: 13px;
    color: #344767;
}
.dashboard .card.card-background .full-background {
    background-position: 50%;
    background-size: cover;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1rem;
}
.dashboard .card.card-background .card-body {
    color: #fff;
    position: relative;
    z-index: 2;
}
.icon-sm {
    width: 32px;
    height: 32px;
}
.dashboard .side-navbar .main-header .navbar .navbar-nav .nav-link:hover:after, 
.dashboard .nav-link.active:after {
    display: none;
}
.dashboard #sidenavCard {
    border-radius: 1rem;
}
.dashboard-header {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0 0 0 /15%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard-content {
    flex-grow: 1;
}
.dashboard-content-inner {
    padding: 30px 30px 0;
}
.dashboard.close .side-navbar {
    flex: 0 0 0 !important;
    width: 0;
    display: none
}
.dashboard.close {
    overflow: hidden;
}
.dashboard .dashboard-content {
    transition: all 0.3s ease-in-out 0.1s;   
    padding-bottom: 80px;
}
.dashboard.close .dashboard-content {
    width: 100%;
    flex: 0 0 100%;
}
.jobtype-boxes {
    display: flex;
    flex-wrap: wrap;
}
.jobtype-boxes .jobtype-box {
    width: calc(100% / 4 - 30px);
    margin: 0 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--primary-color);
    padding: 30px 20px;
    border-radius: 20px;
    border: 1px solid;
    color: #fff;
    transition: all 0.3s ease-in-out 0.1s;
}
.jobtype-boxes .jobtype-box:hover{
    background-color: var(--secondry-color);
    transform: scale(0.95);
}
.jobtype-img img {
    max-width: 60px;
    transition: all 0.3s ease-in-out 0.1s;
}
.jobtype-number {
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 340px;
}
.search input {
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 60px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--c-border-primary);
    color: var(--c-text-action);
    font-size: 0.875rem;
    transition: 0.15s ease;
    width: 100%;
    line-height: 1;
    box-shadow: 0 0 10px rgba(0 0 0 / 10%);
}
.search button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25em;
    color: var(--c-text-action);
    padding: 0;
    height: 40px;
}
.search button img{
    max-width: 30px;
}
.header-right > ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-right ul li img {
    max-width: 30px;
    margin: 0 20px;
    max-height: 30px;
}
.header-right .dropdown-toggle::after{
    display: none;
}
/* Listing */
.projects {
    background-color: var(--primary-color);
    border: 1px solid #000;
    overflow-x: auto;
    width: 100%;
}
.projects-header {
    color: white;
    padding: 22px;
}
.projects-header .title {
    font-size: 21px;
}
.projects-header .count, .projects-header .title {
    display: inline-block;
}
td.member figure img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
table.projects-table {
    width: 100%;
}
.projects-table {
    background: var(--primary-color);
    width: 100%;
}
.projects-table th {
    background-color: #383838ed;
}
.projects-table td, .projects-table th {
    color: white;
    padding: 10px 22px;
    vertical-align: middle;
}
.projects-table td p {
    font-size: 16px;
    margin: 0;
}
.projects-table td p:last-of-type {
    color: #738297;
    font-size: 14px;
}
.projects-table tr:not(:last-of-type) {
    border-bottom: 1px solid #cccccc6e;
}
.projects-table tr:hover {
    background-color: #383838ed;
}
.danger-item {
    border-left: 4px solid #A84D43;
}
.projects-table td p:last-of-type {
    font-size: 14px;
}
.action-box {
    border: 1px solid #DDD;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    background: transparent;
    color: #738297;
    border-color: #738297;
    border-radius: 10px;
}
.action-box:hover {
    border-color: #fff;
}
.projects-table .status-text {
    display: inline-block;
    font-size: 16px;
    margin: 11px 0;
    padding-left: 20px;
    position: relative;
}
.projects-table .status-text.status-orange:before {
    border-color: #DA932C;
}
.projects-table .status-text:before {
    border: 3px solid;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 14px;
}
.dashboard-footer {
    padding: 20px 0;
    padding-left: 12%;
    position: absolute;
    width: 100%;
    text-align: center;
    background: #000;
    color: #fff;
    left: 0;
    z-index: -1;
    bottom: 0;
}
.notification-wrapper {
    min-width: 400px !important ;
    max-height: 600px;
    width: 100%;
}
.notification-card {
    display: flex;
    border-bottom: 1px solid #44444442;
    margin-bottom: 10px;
}
.notification-wrapper li:last-child .notification-card{
    border-bottom: 0;
}
/* div.notification-img img {
    margin: 10px !important;
} */
.notification-content h6 {
    font-size: 16px;
}
.notification-content p {
    font-size: 14px;
    line-height: 18px;
}
.modal{
    z-index: 99999999;
}
div#logout .modal-header {
    display: flex;
    justify-content: center;
    border: 0;
}

div#logout .modal-body {
    font-size: 18px;
    font-weight: 600;
}

div#logout .modal-footer {
    border: 0;
    flex-wrap: nowrap;
    justify-content: center;
}

div#logout .modal-footer .btn {
    width: auto;
}

div#logout .modal-content {
    padding: 30px;
    border-radius: 15px;
}

div#logout .modal-dialog {
    max-width: 380px;
    top: 18%;
}
/*INVOICE PAGE 11 Nov 2022*/
.invoice_tab {
    background: var(--secondry-color);
    border-radius: 20px;
    padding: 24px 30px;
    color: #fff;
}.flex-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}.flex-60 {
    flex: 0 0 60%;
    max-width: 60%;
}.flex-25 {
    flex: 0 0 25%;
    max-width: 25%;
}.flex-15 {
    flex: 0 0 15%;
    max-width: 15%;
}.flex-20 {
	flex: 0 0 18.75%;
	max-width: 20%;
}.text-right {
    text-align: right !important;
}.invoiceToken {
    color: var(--secondry-color);
    font-size: 14px;
}.invoiceJob {
    font-size: 18px;
    font-weight: 700;
}.invoiceName {
    font-size: 14px;
}.invoiceAmount {
    font-size: 24px;
    font-weight: 600;
}.invoice-card {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0 0 0 / 10%);
    margin-bottom: 10px;
}.invoicebtn-Wrapper {
    display: flex;
    flex-direction: column;
}.invoice-btn:not(:first-child) {
    margin-top: 6px;
}.invoice-card .accordion-body {
    background: #eaeaea;
    border-radius: 20px;
    margin-top: 10px;
}.accordion-body {
    padding: 1rem 1.25rem;
}.invoice-btn {
    padding: 8px 10px;
    background: var(--secondry-color);
    text-align: center;
    color: #fff;
    font-size: 14px;
}.invoice-card .accordion-button:focus, .invoice-card .accordion-button:not(.collapsed) {
    background: #fff !important;
    box-shadow: none !important;
}.invoice-card .accordion-button::after {
    margin-left: 0 !important;
}.white-box {
	background-color: #fff;
	margin: 0 5px;
	padding: 15px 20px;
}.inv_detail td, .inv_detail th{
	background-color: #fff;
	margin: 0 5px;
	padding: 15px 20px;
}.invoice-btn:hover {
    color: #000;
}
.verified {
	color: #34a853;
}

/* Edit page layout */
.profile-picture-wrapper div.profile-view-img {
    margin-left: 0;
    width: 140px;
    height: 140px;
}
div.certificates h6 {
    font-weight: 700;
    position: relative;
    font-size: 14px;
    padding: 10px 20px;
    margin: 0 0px 20px;
    transition: all 0.3s ease-in-out 0.1s;
    width: 100%;
    text-align: center;
    background: var(--primary-color);
    color: #fff;
}
div.profile-view-img {
    box-shadow: 0 0 10px rgb(0 0 0 / 24%);
    background-position: center;
    background-size: contain;
    border-radius: 20px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Filter css */
.filter-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-row .input_wpr {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.filter-row .btn_design{
    background-color: #000;
    color:#fff;
}
.filter-row .btn_design:hover{
    background-color: #2f3232;
    border: 1px solid #2f3232;
}
/* end filter */

/* Profile */
.profile-view-img img{
    border-radius: 20px;
}
.accordion-body .flex-20 {
    flex-grow: 1;
    max-width: 100%;
}

/* Pioneer Tabs */
.pioneer-tabs-inner {
    border-radius: 30px;
    background: #fff;
    width: 100%;
}

.pioneer-job-tabs .nav-link {
    padding: 20px;
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
    width: calc(100% / 4 - 20px);
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    border-radius: 20px;
    margin: 0 10px;
    position: relative;
}
.pioneer-job-tabs .nav-link:after {
    position: absolute;
    content: "" ;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 40px;
    height: 40px;
    background-image: url('http://18.209.69.216/pioneer/images/tab1.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.pioneer-job-tabs .nav-link.active::after{
    display: block;
}
.pioneer-job-tabs .nav-link:nth-child(2):after {
    background-image: url('http://18.209.69.216/pioneer/images/tab2.png');
}
.pioneer-job-tabs .nav-link:nth-child(3):after {
    background-image: url('http://18.209.69.216/pioneer/images/tab3.png');
}
.pioneer-job-tabs .nav-link.active {
    background-color: var(--secondry-color);
}
.no_data {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px 40px;
    width: 100%;
}

/* destination btns */
.destination_job_btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto 40px;
}

.destination_job_btns .nav-link.active {
    background-color: var(--secondry-color);
}

.destination_job_btns .nav-link {
    padding:25px 20px;
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
    width: calc(100% / 3 - 20px);
    text-align: left;
    font-weight: 700;
    font-size: 22px;
    border-radius: 20px;
    margin: 0 10px;
    position: relative;
    border: 0;
}
.destination_job_btns .nav-link select {
    width: 100%;
    background: transparent;
    color: #fff;
    border: 0;
    font-weight: 700;
}
.destination_job_btns .nav-link select option {
    color: #000;
    font-size: 14px;
}
.destination_job_btns .nav-link:after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    right: 15px;
    width: 40px;
    height: 40px;
    background-image: url('http://18.209.69.216/pioneer/images/tab1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.destination_job_btns .nav-link:nth-child(2):after {
    background-image: url('http://18.209.69.216/pioneer/images/tab3.png');
}

/* New job card */
.job-card-list {
    display: flex;
    flex-wrap: wrap;
}

.new_joblist {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px 0 !important;
}

.newJob_card {
    width: calc(100% / 3 - 30px);
    background: #fff;
    box-shadow: 0 0 10px rgba(0 0 0 / 10%);
    border-radius: 20px;
    padding: 20px;
    margin: 0 15px 30px !important;
}
.applicant-name {
    word-break: break-word;
}
.company-name,
.rate {
    color: var(--secondry-color);
}

.newjob_detail {
    padding: 15px;
    border-radius: 15px;
    background-image: url('http://18.209.69.216/pioneer/images/jobdetail_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.postdate {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.icon-img {
    margin-right: 10px;
}

.job-card-btn.pioneer-card-btn {
    flex: 0 0 140px;
}

.newJob_card .job-card-btn a {
    background: var(--secondry-color);
    border-color: var(--secondry-color);
    border-radius: 0;
    max-width: 140px;
}

.job-card-list {
    display: flex;
    flex-wrap: wrap;
}

/* New job card */
/* Job card */

/* Start Responsive */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
  }