/* Media Query */
@media(min-width: 1921px) {
    .header-inner .logo {
        max-width: 270px;
    }
}
@media(min-width: 1200px){
    .profile-logo-part a {
        height: 20px;
    }
   
}
/* @media(min-width:992px){
    body{
        padding-bottom: 161px;
    }
} */
@media (max-width: 1440px) {
    .main-header .search-wrapper .form-control {
        max-width: 170px;
        margin-right: 14px;
    }

    .job-applicant-list .profile-picture-img {
        flex: 0 0 30%;
    }

    .job-card-cont.job-applicant {
        flex: 1 0 70%;
    }
    .banner-sec:after {
        background-size: cover;
        background-position: right top;
    }
}

@media (max-width: 1199px) {
    .banner-sec {
        min-height: 340px;
    }
    .profile-logo-part ul li:not(:first-child) {
        padding-left: 15px;
    }
    .step-card-inner {
        padding: 50px 40px;
    }

    .after-line:after {
        width: 150px;
        height: 3px;
    }

    .after-line:before {
        width: 80px;
        height: 3px;
        bottom: -10px;
    }

    .job-card-inner {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .job-card-inner .job-card-cont,
    .job-card-inner .job-card-btn {
        flex: 0 0 100%;
    }

    .job-card-inner .job-card-btn {
        margin: 20px 0;
    }

    .job-card-btn a:not(:first-child) {
        margin-top: 0;
    }

    .job-card-btn a {
        margin-right: 15px;
        margin-bottom: 8px;
        padding: 8px 15px !important;
        font-size: 12px;
        max-width: 140px;
    }

    .job-applicant-list .job-icon-list-wrap {
        margin-top: 15px;
    }

    .job-card-inner .job-card-cont.job-applicant {
        padding-left: 0%;
    }

    .job-applicant-list .job-card-btn {
        flex: 0 0 20%;
    }

    /* Create job */
    .icon-form.right-icon .form-control {
        padding: 14px 50px 14px 20px;
    }
    .icon-form.right-icon .input-icon-wrpper span {
        left: auto;
        right: 16px;
        max-width: 22px;
    }

    /* Spending */
    .filter-row {
        padding: 10px 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-row label {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .input-wrap input {
        font-size: 16px;
        padding: 10px 50px 11px 10px;
    }

    .filter-box h5 {
        background: var(--primary-color);
        padding: 12px;
        font-size: 18px;
    }

    .earning-persons-list {
        min-height: 430px;
    }

    .earning-person-img {
        width: 46px;
        height: 46px;
        margin-right: 18px;
    }

    .earning-person {
        padding: 12px 18px;
    }

    .person-name,
    .person-earn {
        font-size: 14px;
    }

    .spending-table th,
    .spending-table td {
        padding: 15px 16px;
        font-size: 16px;
    }

    /* notification */
    .date-tag:before,
    .date-tag:after {
        width: 22%;
    }

    /* Date */
    .chat_list {
        padding: 12px 16px;
    }
    .chat_img {
        flex: 0 0 42px;
        max-width: 42px;
    }
    .mesgs .job-deatils-icons {
        font-size: 14px;
        margin-top: 8px;
    }
    .mesgs .job-card-inner .job-card-cont{
        flex: 0 0 80%;
    }
    .mesgs .job-card-inner .job-card-btn{
        flex: 0 0 20%;
    }
    /* greeting */
    .greeting-card {
        max-width: 80%;
    }
    .greeting-content .greeting{
        font-size: 30px;
    }
    .raise-diaputea-alert {
        flex-wrap: wrap;
        align-items: flex-start !important;
    }
    .rating-box{
        width: 100%;
    }
    .rating-popup img {
        max-width: 14px;
    }
}

@media (max-width: 991px) {
    /* body{
        padding-bottom: 220px;
    } */
    .profile-picture-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .profile-logo-part {
        margin-left: auto;
    }

    .navbar-toggler {
        padding: 0 0 0 15px;
    }

    .navbar-toggler-icon {
        display: flex;
        align-items: center;
        width: auto;
        max-width: 26px;
    }

    #collapsibleNavbar {
        order: 2;
    }

    .navbar-nav {
        padding-top: 20px;
        align-items: start;
    }


    .check-card {
        padding: 50px 20px;
        background: #0000;
    }

    .check-card label {
        border-radius: 10px !important;
        font-size: 16px;
    }

    .step-card-inner .primary-btn {
        margin: 20px 0 20px 20px;
    }

    .main-header .navbar .navbar-nav .nav-link {
        margin: 2px 0;
        font-size: 14px;
    }

    .navbar-toggler img+img {
        display: none;
        max-width: 26px;
    }

    .navbar-toggler[aria-expanded="true"] img+img {
        display: block;
        max-width: 16px;
    }

    .navbar-toggler[aria-expanded="true"] img {
        display: none;
    }

    .navbar-nav {
        align-items: center;
    }

    .input-wrap input {
        font-size: 14px;
    }

    .input-wrap span img {
        width: 16px;
    }

    /* Chat */
    .inbox_msg {
        flex-direction: column;
    }
    .inbox_people,
    .mesgs{
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .inbox_chat {
        height: 400px;
        min-height: auto;
        margin-bottom: 20px;
    }
    .msg_history {
        height: 500px;
    }
    .srch_bar input {
        padding: 10px 20px 10px 40px;
        margin: 10px ;
    }
    span.input-group-addon {
        max-width: 16px;
        margin-top: -2px;
    }
    /* greeting */
    .greeting-card {
        padding: 20px 30px;
        min-height: 150px;
        margin-top: -80px !important;
    }
    .newJob_card {
        width: calc(100% / 2 - 30px);
    }
    .greeting-content .greeting{
        font-size: 26px;
        line-height: 30px;
    }
    .destination_job_btns .nav-link {
        padding: 14px;
        font-size: 18px;
    }
    .destination_job_btns .nav-link:after {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 767px) {
    /* body{
        padding-bottom: 235px;
    } */
    .navbar {
        padding: 10px 0;
    }   
    .step-card-inner .primary-btn {
        max-width: 160px;
        margin: 10px 0 20px 20px;
    }

    #progressbar li:before {
        width: 40px;
        height: 40px;
        line-height: 35px;
    }

    #progressbar li:after {
        top: 18px;
    }

    .check-card-list li {
        width: 100%;
        margin: 0 0 20px;
    }

    .ongoing-btn-wrap .edit-btn {
        font-size: 12px;
        padding: 8px 16px;
        min-width: 180px;
    }

    .job-applicant-list .job-icon-list-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .job-applicant-list .job-card-btn {
        flex: 0 0 100%;
        margin: 20px 0 0;
    }

    .job-applicant-list .profile-picture-img {
        flex: 0 0 100%;
        max-width: 100px;
        margin-bottom: 20px;
    }
    .list-icon-card {
        margin: 0px 0 20px;
    }
    .ftr-list li a {
        font-size: 12px;
        padding: 10px;
    }

    .footer-inner p {
        font-size: 12px;
        line-height: 22px;
        padding: 0 10px;
    }

    /* Chat */
    .mesgs .job-card-inner{
        flex-wrap: nowrap;
    }
    .duration-box {
        padding: 10px;
    }
    .duration-box span, .duration-box a {
        font-size: 12px;
    }
    .chat-sec-wrap .edit-btn {
        padding: 5px 22px;
        font-size: 12px;
    }
    .incoming_msg_img {
        flex: 0 0 45px;
        max-width: 45px;
    }
    .received_withd_msg p {
        font-size: 12px;
    }
    .sender-person-name{
        font-size: 14px;
    }
    .type_msg {
        height: 90px;
        padding: 16px;
    }
    .date-seprater {
        margin: 8px auto !important;
    }
    .date-seprater span {
        padding: 10px 20px;
        font-size: 13px;
    }
    .greeting-card {
        flex-wrap: wrap;
    }
    .banner-sec {
        min-height: 35vh;
    }
    .new_joblist {
        margin: 30px 0 0 !important;
    }
    .newJob_card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .greeting-img {
        margin-bottom: 20px;
    }
}

@media(max-width: 575px) {
    .container {
        padding: 0px 20px;
    }

    .header-inner .logo {
        max-width: 180px;
    }

    .profile-logo-part ul li a {
        max-width: 25px;
    }

    .profile-logo-part ul li a.profile-icon {
        max-width: 30px;
        max-height: 30px;
    }

    #msform fieldset {
        padding: 20px 20px 10px;
    }

    .icon-text {
        padding: 10px;
    }
    .raise-alert{
        padding-left: 40px;
    }
    .icon-text.shadow {
        flex-wrap: wrap;
    }

    .icon-text.shadow img {
        margin-bottom: 8px;
    }

    .job-card-inner {
        padding: 25px 16px;
    }

    .job-card-inner .job-card-btn {
        margin: 10px 0;
    }

    /* spending */
    .spending-table th,
    .spending-table td {
        min-width: 240px;
    }

    /* notification */
    .notification-card {
        flex-direction: column;
        position: relative;
        align-items: flex-start;
    }

    .notification-img {
        width: 26px;
        height: 26px;
        flex: 0 0 26px;
        margin-right: 18px;
        margin-bottom: 6px;
    }

    .notification-card p {
        font-size: 14px;
    }

    .notification-card small {
        position: absolute;
        right: 16px;
        top: 15px;
    }

    .date-tag {
        background: #000;
        color: #fff;
        border-radius: 10px;
    }

    .notification-list-container .notification-list-wrapper:not(:first-child) .date-tag {
        margin: 15px;
    }
    .header-inner .logo img {
        max-width: 140px;
    }
    .greeting-content .date {
        font-size: 14px;
        font-weight: 600;
    }
    .check-card-list li{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
      .destination_job_btns{
        margin-bottom: 15px;
      }
      .destination_job_btns .nav-link{
        width: 100%;
        margin-bottom: 10px;
      }
      .sectting-inner .setting-tab .nav-link {
        padding: 16px !important;
        font-size: 16px;
        width: 100%;
    }
}

@media(max-width:481px) {
    div.ongoing-btn-wrap .edit-btn {
        margin: 0 0 8px;
    }
    .ongoing-btn-wrap {
        flex-direction: column;
    }
    .mesgs .job-card-inner {
        flex-wrap: wrap;
    }
    .mesgs .job-card-inner .job-card-cont, 
    .mesgs .job-card-inner .job-card-btn {
        flex: 0 0 100%;
        padding-right: 0;
    }
    .incoming_msg_img {
        flex: 0 0 50px;
        max-width: 50px;
    }

    .incoming_msg {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .incoming_msg.outgoing_msg {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .greeting-card {
        max-width: 90%;
    }
    .greeting-content .greeting {
        font-size: 15px;
        line-height: 1.5em;
    } 
    .rating-popup {
        left: 50px;
        bottom: 30px;
    }
}

@media (max-width: 414px) {
    .navbar {
        justify-content: center;
    }
    .header-inner .logo {
        max-width: 90%;
        flex: 0 0 90%;
        text-align: center;
    }
    .profile-logo-part,
    .navbar-toggler {
        margin: 16px 0 0;
    }
    label.empty_text {
        min-height: 30vh;
    }
    label.empty_text.s_hgt {
        min-height: 10vh;
    }
}